#Production
PRO_USERNAME=
PRO_PASSWORD=
PRO_DATABASE=
PRO_URL=
PRO_PORT=

#Development db keys
DB_USERNAME_DEV=
DB_PASSWORD_DEV=
DATABASE_DEV=
DATABASE_URL_DEV=
DB_PORT_DEV=

#Test db keys
DB_USERNAME_TEST=
DB_PASSWORD_TEST=
DATABASE_TEST=
DATABASE_URL_TEST=

LOCAL_URL=http://localhost
DATABASE_URL=postgresql://
PORT=3000
DATABASE_USERNAME=
DB_PASSWORD=
TIMEOUT=50000
PRIVATE_KEY=
